#include "skreecustom.dtsi"

&kscan0 {
    row-gpios           // Col1-7 1.03 1.14 1.05 1.13 1.07 1.12 0.16 
        = <&nice_nano_v2 P1_06 GPIO_ACTIVE_HIGH> 
        , <&nice_nano_v2 P1_04 GPIO_ACTIVE_HIGH>
        , <&nice_nano_v2 P0_11 GPIO_ACTIVE_HIGH>
        , <&nice_nano_v2 P1_00 GPIO_ACTIVE_HIGH>
        , <&nice_nano_v2 P0_24 GPIO_ACTIVE_HIGH>
        , <&nice_nano_v2 P0_22 GPIO_ACTIVE_HIGH>
//      , <&nice_nano_v2 P0_20 GPIO_ACTIVE_HIGH>
        ;
};